<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>WELCOME TO SPRING SECURITY DEMO</h1>

<p sec:authorize="isAnonymous()">This is what you see when you are nog logged in.Blah Blah.</p>

<br>

<p sec:authorize="hasRole('ROLE_ADMIN')">
        User:<span sec:authentication="name" />
        <br/>
        Role(s):<span sec:authentication="principal.authorities" />
        <br/>
        <a th:href="@{/admin}"><button>Admin Section</button></a>
    </p>


<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
</form>

<a sec:authorize="isAnonymous()" th:href="@{login}">Login</a>


</body>
</html>